.achieve-highlight {
    color: #fff066;
    font-size: 48px;
    font-weight:300;
}

.achieve-title {
    font-size: 64px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}

.achieve-subtitle {
    font-size: 48px;
    text-align: center;
    margin: 5px;
    color: #FFFFFF;
}