.home-banner-highlight {
    color: var(--blue);
    font-size: 48px;
    font-weight:300;
}

/* block */
.home-block {
    position: relative;
    width: 80%;
    padding: 0 10% 0% 10%;
    /* align-items: center;
    justify-content: center; */
}

.home-flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}

.home-flexleft{
    align-items: center;
}

.home-flexleft h2 {
    margin-top: 0;
}

.home-flexright{
    margin-left: 5vw;
    align-items: center;
    width: 400px;
}

.home-flexright img {
    width: 400px;
}

.home-flexright p {
    color: gray;
    font-size: 14px;
}